/*body {
    font-size: 15px;
    letter-spacing: 0.02em;
    
}

main {
    max-width: 1000px;
    margin: 50px auto;
    width: 90px;
}

p {
    text-align: center;
}
*/

h2 {
    text-align: center;
}
header {
    text-align: center;
}

h3{text-align: center;
width: auto;
height: auto;}